head
	title MUSIC RESEARCH
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	link(href='/allpages.css', rel='stylesheet')


h1 Music Research






p You successfully abandoned the experiment. All data stored previously has been deleted. Thank you.