head
	title MUSIC RESEARCH
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

p Explanations

form(class="abandon playpause",ref='uploadForm',action='/nextstep',method='post',encType="multipart/form-data",id="myCoolForm")
	input(class="proceed",type='submit',value='Start the experiment')