head
	title MUSIC RESEARCH
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	link(href='/allpages.css', rel='stylesheet')

p Explanations

form(class="abandon playpause",ref='uploadForm',action='/nextstep',method='post',encType="multipart/form-data",id="myCoolForm")
	input(class="proceed",type='submit',value='Next')