
- var alphabet = 'abcdefghijklmnopqrstuvwxyz'.split('');
head
	title McTunes
	link(rel="shortcut icon" href="https://image.freepik.com/free-icon/black-music-icon_318-9277.jpg")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	
	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	link(href='/background.css', rel='stylesheet')
	script(src="/allpages.js")



h1 McTunes
br
p Thank you for completing the experiment. 
p Please paste the following code to MTurk website for you to get paid. 
p Code: 
	strong=userid

p If you want to know more about the experiment, please visit the following site www.XXXX.com. You will get a debrief of the details of the experiment by xx/xx/xxxx.
