
- var alphabet = 'abcdefghijklmnopqrstuvwxyz'.split('');
head
	title McTunes
	link(rel="shortcut icon" href="https://image.freepik.com/free-icon/black-music-icon_318-9277.jpg")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	
	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	link(href='/background.css', rel='stylesheet')
	script(src="/allpages.js")



header
	ol(class="lens-profile-timeline")
		if(true)
			li(class="",style="left: 0;")
				p Music Preference
			li(class="", style="left: 21.7441860465%;")
				p Round 1
			li(class="",style="left: 34.7441860465%;")
				p Round 2
			li(style="left: 47.7441860465%;")
				p Round 3
			li(style="left: 60.7441860465%;")
				p Round 4
			li(class="",style="left: 75.7441860465%;")
			li(class="active",style="right: 0;")
				p End


h1(class="title")
	img(src="/mctunes.svg",width="190")

		
br
p Thank you for completing the experiment. 
p Please paste the following code to MTurk website for you to get paid. 
p Code: 
	strong=userid

p If you want to know more about the experiment, please visit the following site 
	a(href="http://bit.ly/2BLQQza")="http://bit.ly/2BLQQza"
	p You will get a debrief of the details of the experiment by 12/31/2017

