head
	link(href='/allpages.css', rel='stylesheet')
	script(src="/allpages.js")

h1="Your playlist"


p Please find below the links to the songs your saved from your playlist







each play in playlistExt
	div(class="userplaylist")
		h3="Round " + play.roundnumber
		ul
			each idd in play.favorites
				each song in playlist
					if(song._id==idd)
						li
							a(target="_blank",href="https://www.jamendo.com/search?q"+ song.title)=song.title
							br


br
br 
br


div(class="bye")
	br
	br
	form(class="abandon playpause",ref='uploadForm',action='/nextstep',method='post',encType="multipart/form-data",id="myCoolForm")
		span What is your favorite round ? 
		select
			each round in ["round1","round2","round3","round4"]
				option(name="favround",value=round)=round
		br
		br
		br
		input(class="proceed",type='submit',value='Confirm favorite Round')