- var price = Math.floor(Math.random() * 10000000000000)


head

	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	
	link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
	title McTunes
	link(rel="shortcut icon" href="https://image.freepik.com/free-icon/black-music-icon_318-9277.jpg")
	script(src="/allpages.js")
	link(href='/background.css', rel='stylesheet')
	script(src="/jquery-3.2.1.min.js")


header
	h1(class="title")
		img(src="/mctunes.svg",width="190")




div(class="center")
	form(action="/signup" method="post")


		p Welcome to McTunes!


		input(type="hidden",class="form-control number",name="email",value=price)
		input(type="hidden",class="form-control",name="password",value=price)

		

		br
		br
		br



		


		br
		button(type="submit", class="myButton") Continue

