- var price = Math.floor(Math.random() * 10000000000000)


head

	link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")

	title McTunes
	link(rel="shortcut icon" href="https://image.freepik.com/free-icon/black-music-icon_318-9277.jpg")
	script(src="/allpages.js")
	link(href='/background.css', rel='stylesheet')
	script(src="/jquery-3.2.1.min.js")

h1 McTunes 




div(class="center")
	form(action="/signup" method="post")


		p Welcome to McTunes!


		P Please write down the following code so that if you are interrupted or have to leave the experiment and return later, you can use this code to continue your experiment.

		p Code: 
			strong=price

		span Please input your code above to continue: 
		input(type="number",class="form-control number",name="email",value="")
		input(type="hidden",class="form-control",name="password",value=price)

		

		br
		br
		br



		


		br
		button(type="submit", class="myButton") Continue

