head
	title MUSIC RESEARCH
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	link(href='/index.css', rel='stylesheet')
	script(src="/allpages.js")

h1 Music Research



div(class="center")
	h3="Thanks for telling us your music preference. "

	if(info)
		p!=info.instructions

	form(class="",ref='uploadForm',action='/proceed',method='post',encType="multipart/form-data",id="myCoolForm")
		input(class="proceed myButton",type='submit',value='Next',onclick="return confirm('You agree that you have read and understood the research purposes.');")