@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

th:hover {
	 cursor:defaut ;
}

tr {
	border-bottom: 1px solid #f6f6f6;
    border-collapse: collapse;
}


body {
	background-color: #FFCE00;
	cursor:defaut;
    user-select: none; 
    font-family: Lato;
    background-image: url("https://yellowkies.yg-sechskies.com/img/zone/main/bg.jpg");
}

#progressBar { 
	border-radius: 25px;
	border:1px solid grey; 
	background-color: #FFFCF6; 
	width:350px; 
	height:10px;
		display:inline-block;

	margin: 0 auto;
}
#progress {
	border-radius: 25px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: grey;
	height:10px;
	display: block;
  	float:left;
}


#mainplayer,.mainplayer{ 
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 99%;
	bottom: 2%;
	text-align: center;
 }

button  {
 	margin-left: 10;
 	display: inline-block;
 	background-color: #FFCE00;

	border-radius: 25px;
	font-size : 30px;
	/*border:1px solid grey; */
	border: none;
	outline: none;
	box-shadow: none;
 }

#currentTime {
	margin-right: 0;
	margin-left:  auto;
}


.unlike {
	color: red;
	text-align: center;
}

.like {
	color: grey;
	text-align: center;
}

table {
  border-spacing: 15px;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  height: calc(100vh - 200px - 4%);
}






.score0 > #astar1 , .score0 > #astar2, .score0 > #astar3, .score0 > #astar4, .score0 > #astar5 {
	visibility: hidden;
	display: none;
}


.score1 > #bstar1 , .score1 > #astar2, .score1 > #astar3, .score1 > #astar4, .score1 > #astar5 {
	visibility: hidden;
	display: none;
}


.score2 > #bstar1 , .score2 > #bstar2, .score2 > #astar3, .score2 > #astar4, .score2 > #astar5 {
	visibility: hidden;
	display: none;
}

.score3 > #bstar1 , .score3 > #bstar2, .score3 > #bstar3, .score3 > #astar4, .score3 > #astar5 {
	visibility: hidden;
	display: none;
}

.score4 > #bstar1 , .score4 > #bstar2, .score4 > #bstar3, .score4 > #bstar4, .score4 > #astar5 {
	visibility: hidden;
	display: none;
}

.score5 > #bstar1 , .score5 > #bstar2, .score5 > #bstar3, .score5 > #bstar4, .score5 > #bstar5 {
	visibility: hidden;
	display: none;
}


.scores:hover {
	cursor:default
}

.scores {
	font-size: 20px;
}


.playpause {
	width: 50px;
}

.playpause.pause {
	display: none;
}


#displayedTitle {
	left: 0;
	width: 110px;
	display: inline-block;
}



#currentTime {
	padding-left: 15px;

}





button.playpause  {
 	margin-left: 10px;
 	display: inline-block;
 	background-color: #FFFCF6;
 	color:black;
 	font-weight: bold;
	border-radius: 180px;
	width: 8em;  height: 1.9em;
	border:1.1px solid black; 
	outline: none;
	box-shadow: none;
	font-size : 13px;
 }


 .playing {
 	color:#669c83;
 	background-color: antiquewhite;
 }


 .greyPop {
 	color: grey;
 }

  .blackPop {
 	font-weight: bold;
 }


 .ratings {
 	word-spacing: -2;
 	text-align: center;
 }


 .likeup {
 	display: none;
 }

  .popup {
 	display: none;
 }


 .trendUp {
 	color: #28b532;
 }


 .trendDown {
 	color: red;
 }

 .abandon {
 	position:fixed;
 	left:15;
	bottom:15;
 }

  .else {
 	position:fixed;
 	right:15;
	bottom:15;
 }

 tr:not(:first-child):hover {
          background-color: #ffffff;
        }

.removeplaylist:hover{
	font-weight: bold
}

.playlist:hover {
	font-weight: bold;
}

.mainplayer{
	display: none;
}

.hidenext {
	visibility: hidden;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

h1 {
	text-align: center;
}

.updownsign {
	font-size: 20px;
}

#astar1,#astar2,#astar3,#astar4,#astar5 {
	color:red;
}