

th:hover {
	 cursor:defaut ;
}


body {
	background-color: white;
	cursor:defaut;
    user-select: none; 
}

#progressBar { 
	border-radius: 25px;
	border:1px solid grey; 
	background-color: #F5F3EE; 
	width:350px; 
	height:10px;
		display:inline-block;

	margin: 0 auto;
}
#progress {
	border-radius: 25px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: grey;
	height:10px;
	display: block;
  	float:left;
}


#mainplayer { 
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 99%;
	bottom: 50px;
	text-align: center;
 }

button  {
 	margin-left: 10;
 	display: inline-block;
 	background-color: #F5F3EE;

	border-radius: 25px;
	font-size : 15px;
	/*border:1px solid grey; */
	border: none;
	outline: none;
	box-shadow: none;
 }

#currentTime {
	margin-right: 0;
	margin-left:  auto;
}


.unlike {
	color: red;
	text-align: center;
}

.like {
	color: grey;
	text-align: center;
}

table {
  border-spacing: 15px;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}



.score0 > #astar1 , .score0 > #astar2, .score0 > #astar3, .score0 > #astar4, .score0 > #astar5 {
	visibility: hidden;
	display: none;
}


.score1 > #bstar1 , .score1 > #astar2, .score1 > #astar3, .score1 > #astar4, .score1 > #astar5 {
	visibility: hidden;
	display: none;
}


.score2 > #bstar1 , .score2 > #bstar2, .score2 > #astar3, .score2 > #astar4, .score2 > #astar5 {
	visibility: hidden;
	display: none;
}

.score3 > #bstar1 , .score3 > #bstar2, .score3 > #bstar3, .score3 > #astar4, .score3 > #astar5 {
	visibility: hidden;
	display: none;
}

.score4 > #bstar1 , .score4 > #bstar2, .score4 > #bstar3, .score4 > #bstar4, .score4 > #astar5 {
	visibility: hidden;
	display: none;
}

.score5 > #bstar1 , .score5 > #bstar2, .score5 > #bstar3, .score5 > #bstar4, .score5 > #bstar5 {
	visibility: hidden;
	display: none;
}


.scores:hover {
	cursor:default
}


.playpause {
	width: 50px;
}

.playpause.pause {
	display: none;
}


#displayedTitle {
	left: 0;
	width: 110px;
	display: inline-block;
}



#currentTime {
	padding-left: 15px;

}





button.playpause  {
 	margin-left: 10px;
 	display: inline-block;
 	background-color: #F5F3EE;
 	color:black;
 	font-weight: bold;
	border-radius: 180px;
	width: 8em;  height: 1.9em;
	border:1.1px solid black; 
	outline: none;
	box-shadow: none;
	font-size : 13px;
 }


 .playing {
 	color:#669c83;
 	background-color: antiquewhite;
 }


 .greyPop {
 	color: grey;
 }

  .blackPop {
 	font-weight: bold;
 }


 .ratings {
 	word-spacing: -2;
 	text-align: center;
 }


 .likeup {
 	display: none;
 }

  .popup {
 	display: none;
 }


 .trendUp {
 	color: green;
 }


 .trendDown {
 	color: red;
 }

 .abandon {
 	position:fixed;
 	left:15;
	bottom:15;
 }

 tr:not(:first-child):hover {
          background-color: #ffff99;
        }

.removeplaylist:hover{
	font-weight: bold
}

.playlist:hover {
	font-weight: bold;
}